<footer class="text-light bg-dark pt-5 pb-4" style="background: url(&quot;/img/footer-bg.jpg&quot;) center / cover no-repeat;">
    <div class="container text-md-left">
        <div class="row text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3"><img src="/img/logo1.png" width="150px" style="margin-bottom: 50px;">
                <h5 class="text-uppercase mb-4 font-weight-bold" style="color: var(--white-color);">تهویه مطبوع گرین</h5>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <p><a href="#" class="text-light" style="text-decoration:none;">درخواست نصب</a></p>
                <p><a href="#" class="text-light" style="text-decoration:none;">نمایندگی خدمات</a></p>
                <p><a href="#" class="text-light" style="text-decoration:none;">نمایندگی فروش</a></p>
                <p><a href="#" class="text-light" style="text-decoration:none;">اخبار و مقالات</a></p>
                <p><a href="#" class="text-light" style="text-decoration:none;">گالری</a></p>
                <p><a href="#" class="text-light" style="text-decoration:none;">ثبت شکایات</a></p>
                <p><a href="#" class="text-light" style="text-decoration:none;">تماس با ما</a></p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <p><a href="#" class="text-light" style="text-decoration:none;">داک اسپلیت</a></p>
                <p><a href="#" class="text-light" style="text-decoration:none;">لباسشویی</a></p>
                <p><a href="#" class="text-light" style="text-decoration:none;">کولر گازی</a></p>
                <p><a href="#" class="text-light" style="text-decoration:none;">چیلر و فن کویل</a></p>
                <p><a href="#" class="text-light" style="text-decoration:none;">تصفیه هوا</a></p>
                <p><a href="#" class="text-light" style="text-decoration:none;">اسپیکر</a></p>
                <p><a href="#" class="text-light" style="text-decoration:none;">VRF</a></p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <p><i class="fas fa-home mr-3"></i> دفتر مرکزی : تهران، خیابان مطهری، نرسیده به لارستان، پلاک ۴۴۰</p>
                <p><i class="fas fa-envelope mr-3"></i>&nbsp;INFO@GREENAC.CO</p>
                <p><i class="fas fa-phone mr-3"></i>&nbsp;021-41749</p>
                <p><i class="fas fa-print mr-3"></i> 021-88890164</p>
                <p><i class="fas fa-home mr-3"></i> نمایشگاه مرکزی : تهران، خیابان طالقانی، تقاطع مفتح، پلاک ۶۵</p>
                <p><i class="fas fa-phone mr-3"></i>&nbsp;021-88349946</p>
                <p><i class="fas fa-print mr-3"></i> 021-88890164</p>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-md-left">کلیه حقوق برای تهویه مطبوع گرین محفوظ می باشد</p>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="#" class="btn-floating btn-sm text-light" style="font-size:23px;"><i class="fab fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="btn-floating btn-sm text-light" style="font-size:23px;"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="btn-floating btn-sm text-light" style="font-size:23px;"><i class="fab fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a class="text-center btn-floating btn-sm text-light" href="#" style="font-size: 23px;margin-right: 10px;"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</section>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/2-columns-media-image-video-carousel-map-2-columns-media.js"></script>
<script src="/js/counter.js"></script>
<script src="/js/dropdown.js"></script>
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/Mega-Menu-mega-nav.js"></script>
<script src="/js/megamenu-dark-custom.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/Portfolio-with-Category-switcher-main.js"></script>
<script src="/js/responsive-blog-card-slider-01-swiper-bundle.min.js"></script>
<script src="/js/responsive-blog-card-slider-02-responsive-blog-card-slider.js"></script>
<script src="/js/script.js"></script>
<script src="/js/Video-Parallax-Background-v2-multiple-parallax.js"></script>
<script src="/js/Video-Parallax-Background-v3-Parallax-Video-Background.js"></script>
<script src="/js/Video-Parallax-Background-video-parallax.js"></script>
<script src="/js/zectStudio---Sidebar-Menu-by-bbbootstrap-sidemenu.js"></script>
</body>

</html>